Source: kerberos-configs
Section: net
Priority: optional
Maintainer: Sam Hartman <hartmans@debian.org>
Uploaders: Russ Allbery <rra@debian.org>
Build-Depends: debhelper-compat (= 13), perl (>= 5.8)
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/debian/kerberos-configs
Vcs-Browser: https://salsa.debian.org/debian/kerberos-configs
Rules-Requires-Root: no

Package: krb5-config
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, bind9-host
Description: Configuration files for Kerberos Version 5
 This package provides /etc/krb5.conf and any other files needed to
 configure Kerberos Version 5.  This package may be used with one of the
 implementations of Kerberos in Debian, or with a locally built Kerberos.
 Generally this package will be installed as part of installing some
 Kerberos implementation.

